//COLORS
$primary-color: #4c7aaf;
$primary-color-lighter: #6d97c7;
$secondary-color: #ddd;
$secondary-color-lighter: #f2f2f2;
$tertiary-color: #d33939;
$tertiary-color-lighter: #e25050;

$color-white: #fff;
$color-gray: #c0bfbf;
$color-black: #000;
//FONT
$default-font-family: "Roboto", sans-serif;
$default-font-size: 1.6rem;
